body {
  padding-top: 50px;
}
footer {
  padding-right: 15px;
  padding-left: 15px;
  border-top: 1px solid #d7e0e2;
}
.navbar-form .form-group {
  margin-left: 10px;
}
.navbar-form button {
  margin-left: 10px;
}
.toast-top-right {
  top: 70px;
}
.toast-success {
  background-color: #28a4c9;
}
a:hover {
  text-decoration: none;
}
.center {
  text-align: center;
}
/* CSS usado em /public/app/problems/problems.jade */
.side-margins {
  margin-left: 10px;
  margin-right: 10px;
}
#select-objective {
  width: 110px;
}
.div-table {
  display: table;
}
.div-row {
  display: table-row;
}
.div-cell {
  display: table-cell;
  padding: 5px;
  text-align: right;
}
.data-input {
  width: 60px;
  display: inline-block;
}
.signal-select {
  width: 60px;
}
.domain-select {
  width: 80px;
  display: inline-block;
}
.toremove-select {
  width: 60px;
  display: inline-block;
}
.signal-select {
  display: inline-block;
}
.toggle-glyphicon {
  cursor: pointer;
}
.open-app {
  float: right;
}
.open-app-select {
  width: 300px;
  display: inline-block;
}
.subject-to-cell {
  display: table-cell;
  padding: 5px;
  text-align: center;
}