body {
  margin-top: 70px;
  background-color: #f2e9e1;
  font-family: 'Lato' sans-serif;
}
footer {
  padding-right: 15px;
  padding-left: 15px;
  color: #fff;
  background-color: #1c140d;
}
footer a {
  color: #fff;
}
footer a:hover {
  color: #cbe86b;
}
hr {
  border-color: #dad1c9;
}
button:focus {
  outline: 0 !important;
}
.btn-signup {
  background-color: #45403e;
  color: #f5f5f5;
}
.btn-signup:hover {
  background-color: #45403e;
  color: #f5f5f5;
}
.btn-signup:focus {
  background-color: #45403e;
  color: #f5f5f5;
}
.info-box {
  background-color: #5c6c3a;
  border: none;
  height: 300px;
  position: relative;
  color: #b2b2b2;
}
.signup-form {
  background-color: #cac1b9;
  border: none;
}
.signup-form legend {
  border-color: #9e9792;
}
.info-box h3 {
  margin-top: -2px;
  margin-bottom: 30px;
}
.info-box ul {
  margin-left: -30px;
  list-style: none;
}
.info-box li {
  padding-bottom: 10px;
}
.to-bottom-right {
  position: absolute;
  bottom: 15px;
  right: 15px;
}
.info-box a {
  color: #d9d9d9;
}
.navbar-form .form-group {
  margin-left: 10px;
}
.navbar-form button {
  margin-left: 10px;
}
.logo-footer {
  padding: 15px;
}
.navbar-brand {
  margin-top: -7px;
}
.btn-login {
  background-color: #b9d66a;
}
.btn-signup-ok {
  background-color: #5d6d36;
  color: #f5f5f5;
  border: none;
}
.btn-signup-ok:hover {
  background-color: #5d6d36;
  color: #f5f5f5;
}
.btn-signup-ok:visited {
  background-color: #5d6d36;
  color: #f5f5f5;
}
.btn-signup-cancel {
  background-color: #45403e;
  color: #f5f5f5;
  border: none;
}
.btn-signup-cancel:hover {
  background-color: #45403e;
  color: #f5f5f5;
}
.btn-signup-cancel:visited {
  background-color: #45403e;
  color: #f5f5f5;
}
.signup-bbox {
  margin-top: 10px;
  padding: 15px;
  margin-bottom: -30px;
}
.navbar-inverse {
  background-color: #1c140d;
}
.toast-top-right {
  top: 70px;
}
.toast-success {
  background-color: #6e8744;
}
.toast-error {
  background-color: #871612;
}
a:hover {
  text-decoration: none;
}
.invisible {
  display: none;
}
.users-table {
  background-color: #cac1b9;
}
.users-table tbody tr:hover td {
  background-color: #7c8e4f;
}
.users-table thead tr {
  background-color: #a09791;
}
.users-table > thead > tr > th {
  border-color: #6a605c;
}
.center {
  text-align: center;
}
.left {
  text-align: left !important;
}
.ng-dirty.ng-invalid {
  border-color: #f00;
  box-shadow: 0 0 8px #f00;
}
.problem-table {
  padding: 3px;
  margin: 0 auto;
}
.big-cell {
  width: 140px !important;
}
.std-matrix-wrapper {
  display: inline-block;
}
.problem-table td {
  width: 40px;
  height: 40px;
  font-size: 20px;
  font-weight: lighter;
  padding: 3px;
}
.std-matrix {
  display: inline-block;
  margin: auto;
  vertical-align: middle;
  position: relative;
}
.inline-wrapper {
  whitespace: nowrap;
}
.std-matrix::before {
  content: "";
  position: absolute;
  left: 0px;
  top: 0px;
  border-width: 2px 0px 2px 2px;
  border-style: solid none solid solid;
  border-color: #000 -moz-use-text-color #000 #000;
  -moz-border-top-colors: none;
  -moz-border-right-colors: none;
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  border-image: none;
  width: 6px;
  height: 100%;
}
.std-matrix::after {
  content: "";
  position: absolute;
  right: 0px;
  top: 0px;
  border-width: 2px 2px 2px 0px;
  border-style: solid solid solid none;
  border-color: #000 #000 #000 -moz-use-text-color;
  -moz-border-top-colors: none;
  -moz-border-right-colors: none;
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  border-image: none;
  width: 6px;
  height: 100%;
}
.std-matrix td {
  padding: 1px;
  width: 55px;
  text-align: center;
  height: 40px;
  font-size: 20px;
  font-weight: lighter;
}
.matrix-label {
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
  padding: 3px;
  font-size: 16px;
}
.index-vector td {
  padding: 5px;
  text-align: center;
  height: 40px;
  font-size: 16px;
}
.mid-align {
  vertical-align: middle;
}
.column-label {
  position: absolute;
  top: -30px;
}
.side-label {
  font-size: 16px;
  margin: 1px;
}
.equation-table {
  display: inline-block;
  margin: auto;
  vertical-align: middle;
  position: relative;
}
.equation-table td {
  text-align: center;
  height: 40px;
  width: 40px;
  font-size: 20px;
  font-weight: lighter;
}
.big-equation {
  width: 120px !important;
}
.mid-equation {
  width: 75px !important;
}
.log-box {
  height: 350px;
  width: 900px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: solid #eee;
  text-align: left;
  padding: 3px;
  overflow: auto;
  background-color: #fff;
  margin-bottom: 5px;
}
.ib-col {
  margin: 10px;
}
/* CSS usado em /public/app/problems/problems.jade */
.side-margins {
  margin-left: 10px;
  margin-right: 10px;
}
.select-objective {
  width: 110px;
}
.div-table {
  display: table;
}
.div-row {
  display: table-row;
}
.div-cell {
  display: table-cell;
  padding: 5px;
  text-align: right;
}
.data-input {
  width: 60px;
  display: inline-block;
}
.signal-select {
  width: 60px;
}
.domain-select {
  width: 80px;
  display: inline-block;
}
.toremove-select {
  width: 60px;
  display: inline-block;
}
.signal-select {
  display: inline-block;
}
.toggle-glyphicon {
  cursor: pointer;
}
.open-app {
  float: right;
}
.open-app-select {
  width: 300px;
  display: inline-block;
}
.subject-to-cell {
  display: table-cell;
  padding: 5px;
  text-align: center;
}
/* CSS usado em /public/app/modules/modeling/modeling.jade */
.modelagem-right-small-box {
  height: 120px;
  width: 100%;
  border: solid #eee;
  text-align: left;
  padding: 3px;
  overflow: auto;
  background-color: #fff;
}
.modelagem-right-big-box {
  height: 380px;
  width: 100%;
  border: solid #eee;
  text-align: left;
  padding: 3px;
  overflow: auto;
  background-color: #fff;
  margin-bottom: 5px;
}
.add-var-field {
  width: 40px;
  display: inline-block;
}
.add-var-supsub {
  width: 30px;
  display: inline-block;
  font-size: 12px;
  padding: 5px;
  height: 25px;
}
.var-info-input {
  width: 200px;
  display: inline-block;
}
.sup-index-line {
  position: relative;
  top: -20px;
  margin-left: 5px;
  margin-right: 5px;
  display: inline-block;
}
.sub-index-line {
  position: absolute;
  bottom: -20px;
  margin-left: -35px;
  display: inline-block;
}
.inbox-line {
  padding: 3px;
  height: 25px;
}
.overflow-wraper {
  overflow: auto;
  white-space: nowrap;
}
.inline-blocker {
  display: inline-block;
}
.button-column {
  bottom: -50px;
}
.no-padding {
  padding: 0px;
}
.var-descr-line {
  overflow: auto;
  white-space: nowrap;
  padding: 0px;
}
.custom-alert-warning {
  border: 1px solid #faebcc;
  border-radius: 4px;
  color: #8a6d3b;
  background-color: #fcf8e3;
  padding: 2px;
}
/* CSS usado em /public/app/modules/simplex-phase-2-s-b-s/simplex-phase-2-s-b-s.jade */
#canvas-table {
  bottom: 10px;
}
#canvas-table td {
  font-size: 14px;
  padding: 2px;
  text-align: center;
  height: 20px;
  width: 60px;
  font-weight: lighter;
}
.td-label {
  width: 200px !important;
  font-weight: bold !important;
}
#step-size {
  font-weight: bold;
  font-size: 17px;
  text-align: center;
}
#canvas-image {
  max-width: 100%;
  max-height: 100%;
}
#image-box {
  width: 390px;
  heigth: 390px;
}
#canvas-subtitle {
  heigth: 50px;
}
.big-operations-container {
  height: 500px;
  width: 100%;
  border: solid #eee;
  text-align: center;
  padding: 3px;
  overflow: auto;
  background-color: #fff;
  display: inline-block;
}
.big-canvas-container {
  height: 400px;
  width: 100%;
  border: solid #eee;
  text-align: center;
  padding: 3px;
  overflow: auto;
  background-color: #fff;
  display: inline-block;
}
.info-messages-container {
  width: 100%;
  height: 150px;
  overflow: auto;
}
#prev-button {
  bottom: -110px;
  text-align: left;
  left: 15px;
}
#next-button {
  bottom: -110px;
  text-align: right;
  right: 15px;
}
.step-div {
  text-align: left;
  margin-left: 50px;
}
/* CSS usado em /public/app/modules/simplex-phase-2-calc/simplex-phase-2-calc.jade */
#objective-div {
  margin: 20px;
  width: 100px;
  display: inline-block;
}
.IB-select {
  width: 60px;
  display: inline-block;
}
.form-warning {
  color: #93151b;
}
.btn-new-class {
  background-color: #5d6d36;
  color: #f5f5f5;
  border: none;
  margin-bottom: 15px;
}
.btn-new-class:hover {
  background-color: #5d6d36;
  color: #f5f5f5;
}
.btn-new-class:visited {
  background-color: #5d6d36;
  color: #f5f5f5;
}
.btn-new-class:focus {
  background-color: #5d6d36;
  color: #f5f5f5;
}
.classes-table {
  background-color: #cac1b9;
}
.classes-table thead tr {
  background-color: #a09791;
}
.classes-table > thead > tr > th {
  border-color: #6a605c;
}
.classes-table a {
  color: #536c31;
}
.classes-table a:visited {
  color: #536c31;
}
.classes-table a:hover {
  color: #485a28;
}
.search-form {
  margin-bottom: 15px;
}
.search-form button {
  background-color: #5d6d36;
  color: #f5f5f5;
  margin-left: 10px;
}
.search-form button:hover {
  background-color: #5d6d36;
  color: #f5f5f5;
}
.search-form button:active {
  background-color: #5d6d36;
  color: #f5f5f5;
}
.search-form button:focus {
  background-color: #5d6d36;
  color: #f5f5f5;
}
