body {
  margin-top: 70px;
  background-color: #f2e9e1;
  font-family: 'Lato' sans-serif;
}
footer {
  padding-right: 15px;
  padding-left: 15px;
  color: #fff;
  background-color: #1c140d;
}
footer a {
  color: #fff;
}
footer a:hover {
  color: #cbe86b;
}
hr {
  border-color: #dad1c9;
}
button:focus {
  outline: 0 !important;
}
.btn-signup {
  background-color: #45403e;
  color: #f5f5f5;
}
.btn-signup:hover {
  background-color: #45403e;
  color: #f5f5f5;
}
.btn-signup:focus {
  background-color: #45403e;
  color: #f5f5f5;
}
.info-box {
  background-color: #5c6c3a;
  border: none;
  height: 300px;
  position: relative;
  color: #b2b2b2;
}
.signup-form {
  background-color: #cac1b9;
  border: none;
}
.signup-form legend {
  border-color: #9e9792;
}
.info-box h3 {
  margin-top: -2px;
  margin-bottom: 30px;
}
.info-box ul {
  margin-left: -30px;
  list-style: none;
}
.info-box li {
  padding-bottom: 10px;
}
.to-bottom-right {
  position: absolute;
  bottom: 15px;
  right: 15px;
}
.info-box a {
  color: #d9d9d9;
}
.navbar-form .form-group {
  margin-left: 10px;
}
.navbar-form button {
  margin-left: 10px;
}
.logo-footer {
  padding: 15px;
}
.navbar-brand {
  padding: 10px;
}
.btn-login {
  background-color: #b9d66a;
}
.btn-signup-ok {
  background-color: #5d6d36;
  color: #f5f5f5;
  border: none;
}
.btn-signup-cancel {
  background-color: #45403e;
  color: #f5f5f5;
  border: none;
}
.btn-signup-cancel:hover {
  background-color: #45403e;
  color: #f5f5f5;
}
.btn-signup-cancel:visited {
  background-color: #45403e;
  color: #f5f5f5;
}
.signup-bbox {
  margin-top: 10px;
  padding: 15px;
  margin-bottom: -30px;
}
.navbar-inverse {
  background-color: #1c140d;
}
.toast-top-right {
  top: 70px;
}
.toast-success {
  background-color: #6e8744;
}
.toast-error {
  background-color: #871612;
}
a:hover {
  text-decoration: none;
}
.users-table {
  background-color: #cac1b9;
}
.users-table tbody tr:hover td {
  background-color: #7c8e4f;
}
.users-table thead tr {
  background-color: #a09791;
}
.users-table > thead > tr > th {
  border-color: #6a605c;
}
.center {
  text-align: center;
}
/* CSS usado em /public/app/problems/problems.jade */
.side-margins {
  margin-left: 10px;
  margin-right: 10px;
}
.select-objective {
  width: 110px;
}
.div-table {
  display: table;
}
.div-row {
  display: table-row;
}
.div-cell {
  display: table-cell;
  padding: 5px;
  text-align: right;
}
.data-input {
  width: 60px;
  display: inline-block;
}
.signal-select {
  width: 60px;
}
.domain-select {
  width: 80px;
  display: inline-block;
}
.toremove-select {
  width: 60px;
  display: inline-block;
}
.signal-select {
  display: inline-block;
}
.toggle-glyphicon {
  cursor: pointer;
}
.open-app {
  float: right;
}
.open-app-select {
  width: 300px;
  display: inline-block;
}
.subject-to-cell {
  display: table-cell;
  padding: 5px;
  text-align: center;
}
