extends ../includes/layout

block main-content
    .navbar.navbar-inverse.navbar-fixed-top(role="navigation")
        .container
            .navbar-header
                a.navbar-brand(href="/") A<sup>+</sup> Platform
            .navbar-collapse.collapse
                ul.nav.navbar-nav
                    li
                        a(href="/") Home
                div(ng-include="'/partials/account/navbar-login'")

    section.content
        div(ng-view)

    footer.container.text-center
        .container
            .row
                .col-md-3
                    h1.text-left A<sup>+</sup> Platform
                .col-md-3
                    section
                        h4.text-left Sobre
                        ul.list-unstyled
                            li.text-left
                                a(href="") Informaçōes
                            li.text-left
                                a(href="") Clientes

                .col-md-3
                    section
                        h4.text-left Ajuda
                        ul.list-unstyled
                            li.text-left
                                a(href="") Ajuda e Suporte
                            li.text-left
                                a(href="") Vídeos
                            li.text-left
                                a(href="") Contato

                .col-md-3
                    section
                        h4.text-left Social
                        ul.list-unstyled
                            li.text-left
                                a(href="") Facebook &nbsp;
                                    i.fa.fa-facebook.fa-fw
                            li.text-left
                                a(href="") Google+ &nbsp;
                                    i.fa.fa-google-plus.fa-fw
                            li.text-left
                                a(href="") Youtube &nbsp;
                                    i.fa.fa-youtube-play.fa-fw
                            li.text-left
                                a(href="") Twitter &nbsp;
                                    i.fa.fa-twitter.fa-fw
            .row
                .col-md-12
                    p &copy; 2014 A<sup>+</sup> Platform Ltd.