h4 Dados
.inline-wrapper
    label.matrix-label A = 
    .std-matrix-wrapper(display-matrix="data.matrixA", column-labels="data.getxA()")
    label.matrix-label b = 
    .std-matrix-wrapper(display-vertical-vector="data.vectorB")
    label.matrix-label c = 
    .std-matrix-wrapper(display-vertical-vector="data.vectorC")