span(class="glyphicon toggle-glyphicon {{input.glyphiconSign()}}", ng-click="input.swapSign()")
=  ' '
input.data-input.form-control(type="text", ng-model="input.value")
=  ' ' 
label(ng-hide="index == null") X<sub>{{index}}</sub>