.container
    br
    br
    .container
        .panel.panel-default
            .panel-heading
                button#button-random.btn.btn-info.btn-md(ng-click="randomData()", disable="true") 
                    span.glyphicon.glyphicon-save

                button#button-random.btn.btn-info.btn-md.side-margins(ng-click="randomData()") 
                    span.glyphicon.glyphicon-random

                button#button-add.btn(data-toggle="tooltip", data-placement="top", title="Clique aqui para adicionar uma restrição ou variável", ng-click="toggleHeader = 1", ng-class="{true: 'btn-primary', false: 'btn-info'}[toggleHeader == 1]")
                    span.glyphicon.glyphicon-plus

                button#button-exclude.btn.side-margins(data-toggle="tooltip", data-placement="top", title="Clique aqui para remover uma restrição ou variável", ng-click="toggleHeader = 2", ng-class="{true: 'btn-primary', false: 'btn-info'}[toggleHeader == 2]")
                    span.glyphicon.glyphicon-minus

                span.side-margins(ng-show="toggleHeader == 1")
                    label.side-margins Restrição
                    button.btn.btn-info(ng-click="addRestriction()")
                        span.glyphicon.glyphicon-ok
                    label.side-margins Variável
                    button.btn.btn-info(ng-click="addVar()")
                        span.glyphicon.glyphicon-ok

                span.side-margins(ng-show="toggleHeader == 2")
                    label.side-margins Restrição
                    select.form-control.toremove-select(ng-model="restrictionToDelete")
                        option(value="-1") i
                        option(ng-repeat="i in [lines] | makeRange", value="{{i}}") {{i + 1}}
                    button.btn.btn-info.side-margins(ng-click="removeRestriction()")
                        span.glyphicon.glyphicon-remove
                    label.side-margins Variável
                    select.form-control.toremove-select(ng-model="varToDelete")
                        option(value="-1") j
                        option(ng-repeat="j in [columns] | makeRange", value="{{j}}") {{j + 1}}
                    button.btn.btn-info.side-margins(ng-click="removeVar()")
                        span.glyphicon.glyphicon-remove

                
                span.open-app
                    select.form-control.open-app-select
                        option Simplex fase 2 Calculadora
                    
                    button.btn.btn-info.side-margins
                        span.glyphicon.glyphicon-arrow-right

            .panel-body.pre-scrollable
                .div-table
                    .div-row
                        .div-cell
                            select#select-objective.form-control
                                option(ng-repeat="objective in objectives", value="{{objective.value}}")
                                    {{objective.name}}

                        .div-cell(ng-repeat="j in [columns] | makeRange", ng-class="{true: 'alert alert-warning', false: ''}[j == varToDelete]")
                            span(class="glyphicon toggle-glyphicon {{vectorC[j].glyphiconSign()}}", ng-click="vectorC[j].swapSign()")
                            =  ' '
                            input.data-input.form-control(type="text", ng-model="vectorC[j].value")
                            =  ' ' 
                            label X<sub>{{j + 1}}</sub>
                    
                    .div-row(ng-repeat="i in [lines] | makeRange")
                        .subject-to-cell
                            span(ng-show="i == 0") sujeito a:

                        .div-cell(ng-repeat="j in [columns] | makeRange", id="matrix-line-{{i + 1}}-col-{{j + 1}}", ng-class="{true: 'alert alert-warning', false: ''}[j == varToDelete || i == restrictionToDelete]")
                            span(class="glyphicon toggle-glyphicon {{matrixA[i][j].glyphiconSign()}}", ng-click="matrixA[i][j].swapSign()")
                            =  ' '
                            input.data-input.form-control(type="text", ng-model="matrixA[i][j].value")
                            =  ' ' 
                            label X<sub>{{j + 1}}</sub>

                        .div-cell(ng-class="{true: 'alert alert-warning', false: ''}[i == restrictionToDelete]")
                            select.form-control.signal-select(ng-model="restrictions[i]")
                                option(ng-repeat="restrSign in restrictionsSign", value="{{restrSign}}", ng-bind-html="formatedSign(restrSign) |html")

                        .div-cell(ng-class="{true: 'alert alert-warning', false: ''}[i == restrictionToDelete]")
                            span(class="glyphicon toggle-glyphicon {{vectorB[i].glyphiconSign()}}", ng-click="vectorB[i].swapSign()")
                            =  ' '
                            input.data-input.form-control(type="text", ng-model="vectorB[i].value")

                    .div-row
                        .div-cell

                        .div-cell(ng-repeat="j in [columns] | makeRange", ng-class="{true: 'alert alert-warning', false: ''}[j == varToDelete]")
                            label X<sub>{{j + 1}}</sub>
                            =  ' ' 
                            select.form-control.domain-select(ng-model="domains[j]")
                                option(value="-1") &#8712;
                                option(ng-repeat="varDomain in varsDomain", value="{{varDomain}}", ng-bind-html="formatedDomain(varDomain) |html")