.navbar-right
    div(ng-hide="identity.isAuthenticated()")
        form.navbar-form(role="form")
            .form-group
                input.form-control.input-sm(placeholder="Usuário", ng-model="username")
            .form-group
                input.form-control.input-sm(type="password", placeholder="Senha", ng-model="password")
            button.btn.btn-login.btn-sm(ng-click="signin(username, password)") Entrar
    ul.nav.navbar-nav.navbar-right(ng-show="identity.isAuthenticated()")
        li.dropdown
            a.dropdown-toggle(href="", data-toggle="dropdown")
                | {{identity.currentUser.firstName + " " + identity.currentUser.lastName}}
                b.caret
            ul.dropdown-menu
                li(ng-show="identity.currentUser.isAdmin()")
                    a(href="/admin/users") Admin
                li
                    a(href="/profile") Perfil
                li
                    a(href="", ng-click="signout()") Sair
