doctype
html
    head
        title A<sup>+</sup> Platform
        link(href="/favicon.ico", rel="shortcut icon", type="image/x-icon")
        link(rel="stylesheet", href="/vendor/bootstrap/dist/css/bootstrap.min.css")
        link(rel="stylesheet", href="/vendor/toastr/toastr.css")
        link(rel="stylesheet", href="/css/site.css")
        link(rel="stylesheet", href="/vendor/fontawesome/css/font-awesome.min.css")
    body(ng-app='app')
        include current-user
        block main-content
        include scripts