doctype
html
    head
        title Aplus Platform
        link(href="/favicon.ico", rel="shortcut icon", type="image/x-icon")
        link(href="http://fonts.googleapis.com/css?family=Lato", rel="stylesheet", type="text/css")
        link(rel="stylesheet", href="/vendor/normalize-css/normalize.css")
        link(rel="stylesheet", href="/vendor/bootstrap/dist/css/bootstrap.min.css")
        link(rel="stylesheet", href="/vendor/toastr/toastr.css")
        link(rel="stylesheet", href="/vendor/fontawesome/css/font-awesome.min.css")
        link(rel="stylesheet", href="/vendor/cloudzoom/cloudzoom.css")
        link(rel="stylesheet", href="/css/site.css")
    body(ng-app='app')
        include current-user
        block main-content
        include scripts