.jumbotron
    h1 A<sup>+</sup> Platform
    p Welcome

.container
    .row
        .col-md-6
            div(ng-include="'partials/main/featured-courses'")
        .col-md-6
            div(ng-include="'partials/main/new-courses'")