.container
    .jumbotron
        h1 A<sup>+</sup> Platform
        p Bem vindo a A<sup>+</sup> Platform! A maior coleção de cursos educaionais na web.

    .row
        .col-md-6
            div(ng-include="'/partials/main/featured-courses'")
        .col-md-6
            div(ng-include="'/partials/main/new-courses'")